<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SEMObjectDBConnectionString" value="Data Source=.;Initial Catalog=SEMObjects;User Id=sa;Password=123;"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint
        address="http://172.16.19.15:9001/HostingService/FacebookService.svc/InnerService"
        behaviorConfiguration="mexBehaviorSync"
        binding="wsHttpBinding"
        bindingConfiguration="wsBinding"
        contract="AdSage.Concert.Hosting.Service.Facebook.IFacebookService"
        name="FacebookService" />
      <endpoint
        address="http://172.16.19.15:9001/HostingService/AdCenterService.svc/InnerService"
        behaviorConfiguration="mexBehaviorSync"
        binding="wsHttpBinding"
        bindingConfiguration="wsBinding"
        contract="AdSage.Concert.Hosting.Service.AdCenter.IAdCenterService"
        name="AdCenterService" />
      <endpoint
        address="http://172.16.19.15:9001/HostingService/GoogleService.svc/InnerService"
        behaviorConfiguration="mexBehaviorSync"
        binding="wsHttpBinding"
        bindingConfiguration="wsBinding"
        contract="AdSage.Concert.Hosting.Service.Google.IGoogleService"
        name="GoogleService" />
      <endpoint
        address="http://172.16.19.15:9001/HostingService/TrackingService.svc/InnerService"
        behaviorConfiguration="mexBehaviorSync"
        binding="wsHttpBinding"
        bindingConfiguration="wsBinding"
        contract="AdSage.Concert.Hosting.Service.Tracking.ITrackingService"
        name="TrackingService" />
      <endpoint
        address="http://172.16.19.15:9001/HostingService/CommandService.svc/InnerService"
        behaviorConfiguration="mexBehaviorSync"
        binding="wsHttpBinding"
        bindingConfiguration="wsBinding"
        contract="AdSage.Concert.Hosting.Service.Command.ICommandService"
        name="CommandService" />
      <endpoint
        address="http://172.16.19.15:9001/HostingService/AdvertiserService.svc/InnerService"
        behaviorConfiguration="mexBehaviorSync"
        binding="wsHttpBinding"
        bindingConfiguration="wsBinding"
        contract="AdSage.Concert.Hosting.Service.Advertiser.IAdvertiserService"
        name="AdvertiserService" />
      <endpoint
        address="http://172.16.19.15:9001/HostingService/QueryEventService.svc/InnerService"
        behaviorConfiguration="mexBehaviorSync"
        binding="wsHttpBinding"
        bindingConfiguration="wsBinding"
        contract="AdSage.Concert.Hosting.Service.IQueryEventService"
        name="QueryEventService" />
    </client>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="mexBehaviorSync">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="ProtoEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="wsBinding"  messageEncoding="Text" textEncoding="utf-8" receiveTimeout="10:00:00"
                     sendTimeout="10:00:00"  maxBufferPoolSize="2147483647"
                     maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>