<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="SEMObjectDBConnectionString" value="Data Source=.;Initial Catalog=SEMObjects;User Id=sa;Password=123;"/>
    </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_ISyncDataService">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/HostingService/SyncService.svc"
          binding="customBinding" bindingConfiguration="CustomBinding_ISyncDataService"
          contract="ISyncDataService" name="CustomBinding_ISyncDataService" />
    </client>
  </system.serviceModel>
</configuration>